{{define "subject"}}Welcome to Greenlight!{{end}}

{{define "plainBody"}}
Hi,

Thank for sign up for a Greenlight account. We're excipted to have you on board!

For future reference, your user ID number os {{.ID}}.

Thank,

The Greenlight Team.
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Greenlight account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.ID}}.</p>
    <p>Thanks,</p>
    <p>The Greenlight Team</p>
    </body>
</html>
{{end}}